.App-main {
    min-height: 100vh;
	font-size: calc(9px + 2vmin);
	color: white;
    background: url(https://images.wallpaperscraft.com/image/single/cat_eyes_black_124134_1920x1080.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    padding: 8px;       
}

.App-redirect-page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: calc(9px + 2vmin);
	color: rgb(255, 255, 255);
    background: url(https://wallpaperaccess.com/full/105686.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    padding: 8px;
    line-height: 8px;    
}





